@keyframes natasha-animation {
  0% {
    transform: translate(-54%, -16%);
  }
  100% {
    transform: translate(-48%, -16%);
    opacity: 1;
  }
}

@keyframes hook-animation {
  0% {
    transform: translate(-53%, -41%);
  }
  100% {
    transform: translate(-47%, -41%);
    opacity: 1;
  }
}

@keyframes pela-animation {
  0% {
    transform: translate(-43%, -35%);
  }
  100% {
    transform: translate(-37%, -35%);
    opacity: 1;
  }
}

@keyframes seele-animation {
  0% {
    transform: translate(-48%, -60%);
  }
  100% {
    transform: translate(-40.8%, -60%);
  }
}

@keyframes seele-back-animation {
  0% {
    transform: translateX(-11%);
  }
  100% {
    transform: translateX(-3.8%);
  }
}

@keyframes banner-ring-spin {
  to {
    transform: translate(-24%, -50%) rotate(-360deg);
  }
}

@keyframes seele-weap-back-animation {
  from {
    transform: scale(1.1) translate(-37%, -47%);
  }
  to {
    transform: scale(1) translate(-32%, -52%);
  }
}
