@keyframes dan-heng-animation {
  0% {
    transform: translate(-58.5%, -35%);
  }
  100% {
    transform: translate(-52.5%, -35%);
    opacity: 1;
  }
}

@keyframes asta-animation {
  0% {
    transform: translate(-49.5%, -29%);
  }
  100% {
    transform: translate(-43.5%, -29%);
    opacity: 1;
  }
}

@keyframes serval-animation {
  0% {
    transform: translate(-55.5%, -36%);
  }
  100% {
    transform: translate(-49.5%, -36%);
    opacity: 1;
  }
}

@keyframes silver-wolf-animation {
  0% {
    transform: translate(-36%, -50%);
  }
  100% {
    transform: translate(-28%, -50%);
  }
}

@keyframes silver-wolf-back-animation {
  0% {
    transform: translate(-32.08%, -27.4%);
  }
  100% {
    transform: translate(-2.88%, -27.4%);
  }
}

@keyframes silver-wolf-weap-back-animation {
  0% {
    transform: translate(5%, 1%) rotate(-13deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(-13deg);
  }
}
