@keyframes sushang-animation {
  0% {
    transform: translate(-54.5%, -31%);
  }
  100% {
    transform: translate(-48.5%, -31%);
    opacity: 1;
  }
}

@keyframes march-animation {
  0% {
    transform: translate(-52.5%, -26%);
  }
  100% {
    transform: translate(-46.5%, -26%);
    opacity: 1;
  }
}

@keyframes tingyun-animation {
  0% {
    transform: translate(-56%, -21%);
  }
  100% {
    transform: translate(-50%, -21%);
    opacity: 1;
  }
}

@keyframes jing-yuan-animation {
  0% {
    transform: translate(-48%, -60%);
  }
  100% {
    transform: translate(-40.8%, -60%);
  }
}

@keyframes jing-yuan-back-animation {
  0% {
    transform: translate(-40.5%, -32%);
  }
  100% {
    transform: translate(-29.5%, -32%);
  }
}
