@keyframes arlan-animation {
  0% {
    transform: translate(-71.2%, -31%);
  }
  100% {
    transform: translate(-64%, -31%);
    opacity: 1;
  }
}

@keyframes blade-animation {
  0% {
    transform: translate(-42%, -38%);
  }
  100% {
    transform: translate(-34%, -38%);
  }
}

@keyframes blade-back-animation {
  0% {
    transform: translate(-28%, -11.4%);
  }
  100% {
    transform: translate(-20.7%, -11.4%);
  }
}

@keyframes imbibitor-weap-back-animation {
  0% {
    transform: translate(23%, -7%);
  }
  100% {
    transform: translate(18%, -6%);
  }
}
