.App {
  position: fixed;
  top: 0;
  left: 0;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

* {
  cursor: url(../assets/cursor.cur), auto !important;
  user-select: none;
}

html * {
  font-family: Default_SC;
}

@font-face {
  font-family: Default_SC;
  src: url(../assets/URW-DIN-Arabic-Medium.ttf);
  font-display: swap;
}
