/* Departure Warp */

@keyframes beginner-bronya-animation {
  0% {
    transform: translate(-73%, -46%);
  }
  100% {
    transform: translate(-73%, -56%);
  }
}
@keyframes beginner-himeko-animation {
  0% {
    transform: translate(-11%, -33%);
  }
  100% {
    transform: translate(-11%, -43%);
  }
}
@keyframes welt-animation {
  0% {
    transform: translate(-41%, -26%);
  }
  100% {
    transform: translate(-41%, -36%);
  }
}
@keyframes yanqing-animation {
  0% {
    opacity: 0.2;
    transform: translate(-115%, -45%);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(-115%, -65%);
  }
}
@keyframes beginner-gepard-animation {
  0% {
    opacity: 0.2;
    transform: translate(-75%, -40%);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(-75%, -60%);
  }
}
@keyframes clara-animation {
  0% {
    opacity: 0.2;
    transform: translate(104%, -46%);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(104%, -66%);
  }
}
@keyframes bailu-animation {
  0% {
    opacity: 0.2;
    transform: translate(95%, 0);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(95%, -50%);
  }
}

.rate-up-char-icons {
  border-radius: 100px;
  position: absolute;
  z-index: 101;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes natasha-animation {
  0% {
    transform: translate(-54%, -16%);
  }
  100% {
    transform: translate(-48%, -16%);
    opacity: 1;
  }
}

@keyframes hook-animation {
  0% {
    transform: translate(-53%, -41%);
  }
  100% {
    transform: translate(-47%, -41%);
    opacity: 1;
  }
}

@keyframes pela-animation {
  0% {
    transform: translate(-43%, -35%);
  }
  100% {
    transform: translate(-37%, -35%);
    opacity: 1;
  }
}

@keyframes seele-animation {
  0% {
    transform: translate(-48%, -60%);
  }
  100% {
    transform: translate(-40.8%, -60%);
  }
}

@keyframes seele-back-animation {
  0% {
    transform: translateX(-11%);
  }
  100% {
    transform: translateX(-3.8%);
  }
}

@keyframes bronya-animation {
  0% {
    transform: translate(-40%, -58%);
  }
  100% {
    transform: translate(-32%, -58%);
  }
}

@keyframes bronya-back-animation {
  0% {
    transform: translate(-59.3%, -57.8%);
  }
  100% {
    transform: translate(-51.1%, -58%);
  }
}

@keyframes gepard-animation {
  0% {
    transform: translate(-70%, -63%);
  }
  100% {
    transform: translate(-66%, -63%);
  }
}

@keyframes himeko-animation {
  0% {
    transform: translate(10%, -83%);
  }
  100% {
    transform: translate(14%, -83%);
  }
}

@keyframes himeko-back-animation {
  0% {
    transform: translate(-24.4%, -83%);
  }
  100% {
    transform: translate(-20.4%, -83%);
  }
}

@keyframes banner-ring-spin {
  to {
    transform: translate(-24%, -50%) rotate(-360deg);
  }
}

@keyframes seele-weap-back-animation {
  from {
    transform: scale(1.1) translate(-37%, -47%);
  }
  to {
    transform: scale(1) translate(-32%, -52%);
  }
}

@keyframes cone-1-animation {
  0% {
    transform: scale(1.2) translate(-220%, 30%) rotate(5deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-280%, 40%) rotate(5deg);
    opacity: 1;
  }
}

@keyframes cone-2-animation {
  0% {
    transform: scale(1.2) translate(-270%, 75%) rotate(20deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-300%, 85%) rotate(20deg);
    opacity: 1;
  }
}

@keyframes cone-3-animation {
  0% {
    transform: scale(1.2) translate(-320%, 65%) rotate(-10deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-400%, 75%) rotate(-10deg);
    opacity: 1;
  }
}
